body{
    background-color: #20222b;
    font-size: 16px;
    font-family: 'Roboto',Tahoma,Arial,sans-serif;
}
h1, h2, h3, h4, h5, h6, footer p{
    color: #fff;
    text-shadow: 0 0 6px #000;
}
.center{
    margin: auto; text-align: center;
}
.img-center {
    display: block;
    margin: 0 auto;
}
.mdl-data-table{
    white-space: normal;
}
.text-capitalize{
    text-transform: capitalize;
}
.width-100{
    width:100%;
}
img{
    max-width: 100%;
    height: auto;
}
.weapon-card{
    background-color: #40434c;
    height:250px;
}
.weapon-card img{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}
.demo-layout-waterfall .mdl-layout__header-row .mdl-navigation__link:last-of-type  {
    padding-right: 0;
}
@media (min-width: 840px){
    .mdl-grid {
        padding: 25px;
    }
}
@media screen and (max-width: 1024px){
    .mdl-layout__drawer-button {
        margin: 4px;
        color: #fff;
    }
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link{
    padding:16px 35px;
}
.map-logo{
    position: absolute;
    z-index: 1;
    margin-top: -166px;
    margin-left: 66px;
}
.drawer-title-font{
    text-decoration:none;
    color:#757575;
    font-weight:bold;
    font-family: roboto
}

#steam-login-btn{
    margin-top: 65px;
}

.color-white{
    color: #fff;
}

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active {
    color: rgb(255,64,129);
    text-shadow: 0 0 6px #000;
}

.mdl-tabs__tab{
    color: #fff;
}
.mdl-tabs__tab-bar {
    border-bottom: 1px solid rgba(0,0,0,.26);
}
.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after {
    background: rgb(255,64,129);
}
.mdl-layout__header {
    background-color: rgba(0,0,0,.54);
}
.mdl-layout__header-row .mdl-navigation__link {
    padding: 0 15px;
}
.mdl-progress>.progressbar {
    background-color: #d50000;
}
@media screen and (max-width: 991px) {
    #steam-login-btn{
        margin: 850px 0;
    }
}
a {
    color: rgb(46, 17, 5);
}